<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredientes</title>
</head>
<body>
<main>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-head" id="card-head-form-cadastro">Cadastro de Ingrediente</div>
                        <div class="card-body" id="card-body-form-cadastro">
                            <label class="form-label" for="input-des-ingrediente">Descrição:</label>
                            <input id="input-des-ingrediente" class="form-control input-perso">
                            <div class="row mt-3">
                                <div class="col-12 d-flex justify-content-end">
                                    <button class="btn btn-success btn-sm">Cadastrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="mt-5">
        <div class="row ">
            <div class="col-5">
                <hr class="hr" />
            </div>
            <div class="col-2 text-center">
                <h5>Listagem de Ingredientes</h5>
            </div>
            <div class="col-5">
                <hr class="hr" />
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8">
                <table id="table-ingredientes"></table>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>
</body>
</html>